body {
    margin: 0;
    font-family: monospace;
  }

  #main {
    display: flex;
    flex-direction: column;
    background: url('https://image.freepik.com/free-vector/hardwood-maple-basketball-court-floor_64749-1768.jpg');
    background-attachment: scroll;
  }

/* Page head styles */

    #knicks-header {
        display: flex;
        
        justify-content: center;
        background: blue;
        opacity: .8;
        height: 7rem;
        padding: 1rem;
        margin: 0px;
    }

    #header-text {
        font-size: 60px;
        margin-top: auto;
        margin-bottom: 0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: oblique;
        color: wheat;
        border: black
        
    }

    #knicks-img {
        height: 6rem;
        width: auto;
    }

    h2 {
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    #get-started-p {
        text-align: center;
    }

    #get-started {
        position: relative;
        background-color: #ff7b00;
        border: 3px solid rgba(255, 102, 0, 0.445);
        border-radius: 5px;
        height: 3rem;
        width: max-content;
        color: whitesmoke;
        font-size: 18px;
        justify-self: center;
    }

    #get-started:hover {
        background-color: whitesmoke;
        border: #ff7b00 solid 1px;
        color: #ff7b00;
        cursor: pointer;
      }

 /* New player submission section*/  

    .player-container {
        padding: 1rem;
        margin-top: 0%;
        width: stretch;
        height: auto;
        display: none;
        background: rgb(85, 139, 255);
        opacity: .8;
        text-align: center;
    }

    .choose-player {
        width: 100%
    }

    .submit:hover {
      cursor: pointer;
    }

    #player-image {
      width: 200px;
    }

    #edit-cards {
      display: inline-flex;
    }

/* Trading card design */

    .card-container {
        border: 1px solid black;
        background-color: black;
        width: 500px;
        height: 700px;
        margin-left: 390px;
        margin-top: 70px;
        margin-bottom: 35px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: -8px 9px 16px -3px gray;
    }
    .card-background {
        height: 688px;
        margin: -13px 5px 5px 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cf/LeBron_James_crop.jpg;');
        background-size: cover;
    }
    .card-frame {
      width: 100%;

    }

    /* Card details (name, number, background colors */

    .frame-header {
      color: white;
      padding-left: 25px;
      height: 60px;
    }
    #player-position {
      padding-top: 20px;
      max-width: 50px;
      background-color: rgb(0, 110, 255);
      text-align: center;
    }
    #player-name {
      color: black;
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 8px;
      font-size: 20px;
      font-stretch: extra-condensed;
      font-family: cursive;
    }
    #player-num {
      color: black;
      font-size: 20px;
      justify-content: space-evenly;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 15px;
      margin-right: 10px;
      background-color: coral;
      background-size: contain;
      padding: 5px;
    }
    .frame-footer {
      display: inline-flexbox;
      align-self: flex-end;
      width: 230px;
      margin-top: 520px;
      margin-bottom: 20px;
      text-align: center, bottom;
      background-color: white;
    }

    /* Styles for edits section */

    #edits-container {
      width: 400px;
      align-self: center;
      margin-left: 50px;
      margin-right: 40px;
    }
    #edit-card-form {
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: 20px;
    }
    .edit-dropdown {
      display: flex;
      color: wheat;
      width: 250px;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      align-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgb(85, 139, 255);
      border-radius: 8px;
      border: 1px solid rgba(0, 174, 255, 0.664);
    }
    .edit-dropdown select {
      width: 50%;
      height: 30px;
      display: flex;
    }
    .edit-dropdown h2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
    /* Sell button */

    #sell-div {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-left: 0;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-left: 0px;
      padding-right: 95px;
    }
    
    #sell-button {
      align-self: center;
      background-color: green;
      border: 3px solid rgba(21, 255, 0, 0.308);
      border-radius: 10px;
      height: 3rem;
      width: 100px;
      margin-top: 25px;
      color: whitesmoke;
      font-size: 20px;
    }
    #sell-button:hover {
      background-color: whitesmoke;
      border: green solid 1px;
      color: green;
      cursor: pointer;
    }

    /* Auction feed */

    #auction-div {
      display: flex;
      align-content: center;
      flex-direction: column;
      margin: 30px 150px 20px 150px;
      border: 2px solid rgba(255, 166, 0, 0.651);
      border-radius: 8px;
      background-color: rgb(212, 255, 202);
    }
    #auction-head-div {
      background-color: #ff7b00;
      border-radius: 5px;
    }
    #auction-head-div h3 {
      text-align: center;
      font-weight: bolder;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: blue;
      background-size: 10px;
      color: wheat;
    }
    #auction-feed {
      padding: 0%;
      display: flex;
      width: 50%;
      flex-direction: column;
    }
    #auction-feed li {
      list-style: none;
      display: flex;
      align-self: center;
      width: 80%;
      margin-left: 10px;
      background-color: #40fd39;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
    }
    #auction-body {
      display: flex;
    }
    #best-sellers-list {
      display: flex;
      width: 45%;
      height: 310px;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin-left: 10px;
      background: url('https://image.freepik.com/free-vector/celebration-background-template_29865-215.jpg');
      border-radius: 10px;
      border: 5px solid black;
    }
    #best-sellers-list h3 {
      text-align: center;
      align-self: center;
      width: 89%;
      font-size: 30px;
      color: wheat;
      margin-top: 10px;
      background-color: green;
      border-radius: 10px;
      border: 1px solid rgb(0, 29, 0);
    }
    #best-sellers-list li {
      text-align: center;
      width: fit-content;
      margin-bottom: 20px;
      padding: 10px;
      align-self: center;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius: 15px;
    }

    /* Color coding best seller backgrounds (gold, silver, bronze) */
    #best-sellers-list > :nth-child(2) {
      background-color: gold;
      border: none;
      border-radius: 5px;
    }
    #best-sellers-list > :nth-child(3) {
      background-color: silver;
      border: none;
      border-radius: 5px;
    }
    #best-sellers-list > :nth-child(4) {
      background-color: rgb(190, 92, 0);
      border: none;
      border-radius: 5px;
    }